  body {
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #fff;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

.form-control {
  box-shadow: none !important;
}
.form-control:focus {
  border-color: #007bff;
  box-shadow: none;
}


.btn-primary {
  background: linear-gradient(to right, #00a2ff, #007bff);
  border: none;
}
.btn-primary:hover {
  background: linear-gradient(to right, #007bff, #0056b3);
}

.btn-secondary {
  background: linear-gradient(to right, #6c757d, #495057);
  border: none;
}
.btn-secondary:hover {
  background: linear-gradient(to right, #495057, #343a40);
}

 .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;  
  background-color: #666; 
}

.carousel-indicators .active {
  background-color: #666; 
}

.login-box {
  width: 100%;
  max-width: 550px;  
  min-height: 500px; 
}
